* {
    box-sizing: border-box;
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

::-moz-selection {
    /* Code for Firefox */
    background: #ffffff40;
}

::selection {
    background: #ffffff40
}

body {
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: url('cursor2.png'), auto;
    overscroll-behavior: none;
    font-weight: 200;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "swear-display", serif;
    font-weight: bold;
    font-size: 48px;
    padding-left: 24px;
    z-index: 100;
    height: 90px;
    line-height: 80px;
    border-bottom: solid 1px currentColor;
}

.members h2 {
    border-right: none;
    width: 100%;
}


.member-spotlight {
    height: calc(100vh - 90px);
    position: absolute;
}


h3 {
    font-weight: 500;
    font-family: "swear-display", serif;
    font-size: 36px;
    padding-bottom: 24px;
}


p {
    font-size: 14px;
    line-height: 20px;
    color: #ffffffdd;
}

main {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a {
    color: white;
}

#start-logo {
    height: 40%;
}

.member {
    width: 25%;
    box-sizing: border-box;
    float: left;
    box-sizing: border-box;
    height: calc(100vh - 90px);
    display: flex;
    flex-flow: column;
}

.members {
    border-bottom: solid 1px currentColor;
    box-sizing: border-box;
    width: 100%;
}

.all>* {
    border-right: solid 1px currentColor;
    box-sizing: border-box;

}

.member{
    border-right: solid 1px white;
}

.member:last-of-type {
    border-right: 1px transparent solid;
}

.member-links {
    bottom: 24px;
    position: absolute;
    font-size: 24px;
}

.member-img {
    box-sizing: border-box;
    width: 60%;
    object-fit: cover;
    display: flex;
    justify-content: center;
}

.member-img-container{
    display: flex;
    justify-content: center;
    max-height: 70%;
    border-bottom: solid 1px currentColor;
}

.member-text {
    padding: 24px;
    width: 100%;
    box-sizing: border-box;
    background: #ffffff10;
    height: 100%;
    flex-grow: 1;
}

#tagline {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    border-bottom: solid 1px currentColor;
    border-top: solid 1px currentColor;
}

span {
    font-size: 24px;
    position: relative;
    /* top: 4px; */
    font-weight: 100;
    margin-right: 40px;
    text-align: center;
}

.projects {
    padding-top: 200px;
}

.project {
    padding-left: 48px;
    padding-right: 48px;
}

.project>* {
    display: inline-block;
    width: 20%;
    font-size: 20px;
    padding-top: 12px;
}

.project h3 {
    font-size: 30px;
}

.project {
    border-bottom: solid 1px currentColor;
}

#project-titles p {
    font-size: 12px;
    font-family: "Space Mono", monospace;
    padding-bottom: 8px;
}


html {
    scroll-snap-type: y mandatory;
    height: 100%;
    display: grid;
    grid-auto-rows: 100%;
    scroll-behavior: smooth;
    scroll-snap-stop: always;
    margin: 0;
    padding: 0;
}

.full-height {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    scroll-behavior: smooth;
    position: relative;
    height: 100vh;
    box-sizing: border-box;
    width: 100%;
}

.collab {
    margin: auto;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 24%;
}

#hands {
    height: 100%;
    position: absolute;
    right: 0;
}




/* Style the button that is used to open and close the collapsible content */
.collapsible {
    color: white;
    padding: 24px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    background: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
    color: #ffffffbb;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 50px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-bottom: solid 1px currentColor;
}

.content p {
    padding-bottom: 24px;
}

.services-blurb {
    padding: 24px;
    width: 25%;
    border-right: solid 1px currentColor;
    float: left;
    height: calc(100vh - 90px);
    box-sizing: border-box;
}


.examples-container {
    width: 75%;
    box-sizing: border-box;
    height: calc(100vh - 90px);
    position: relative;
    float: left;
}

#examples {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    align-items: center;
    white-space: nowrap;
    background: #00000060;
}

figcaption {
    font-size: 18px;
    font-weight: 600;
    font-family: "swear-display", serif;

}

figcaption span {
    font-size: 18px;
    margin-right: 8px;
}

#services {
    border-bottom: solid 1px currentColor;
}

figure img{
    height: calc(100vh - 300px);
    margin-right: 120px;
    border-radius: 40px;
}

.logo{
    width: 400px;
}

.example{
    display: inline;
    height: auto;
    vertical-align: middle;
}

.alert{
    height: calc(100vh - 300px);

}

#mobile-only{
    display: none;
}

.logo-container *{
    margin: 0;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-container{
    position: relative;
    height: 100vh;
}



@media screen and (pointer:none),
(pointer:coarse) and (min-width: 768px) and (max-width: 2000px) {

    .full-height {
display: none;
    }

    #mobile-only{
        display: block;
        height: 100vh;
        width: 100%;
        text-align: center;
    }

    #mobile-only .logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    #mobile-content{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

    }


    #mobile-only h1{
        font-size: 40px;
        position: relative;
        font-weight: 300;
        text-align: center;
    }

    #mobile-link{
        font-size: 24px;
    width: 100%;
    padding-top: 20px;
    }
}

@media screen and (pointer:none),
(pointer:coarse) and (min-width: 0px) and (max-width: 767px) {



    .full-height {
        display: none;
            }

            #mobile-only{
                display: block;
                height: 100vh;
                width: 100%;
                text-align: center;
            }

            #mobile-only .logo{
                display: block;
                margin-left: auto;
                margin-right: auto;
            }


            #mobile-content{
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);

            }


            #mobile-only h1{
                font-size: 40px;
                position: relative;
                font-weight: 300;
                text-align: center;
            }

            #mobile-link{
                font-size: 24px;
            width: 100%;
            padding-top: 20px;
            }


}
